<html>
<head>
<title>Red Diary{% block page %}{% endblock %}</title>
{% load staticfiles %}<!-- Always good to import static files -->
{% if metadata %}
  {{metadata|safe}}<!-- metadata if there is any -->
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'css/merton.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
	left = 10;
    $(document).ready(function(){
		$('button.fade').click(function(){
			$('.nav').toggle();
			$('.head').toggle();
			$('.body').css({'padding-left':left+'px'});
			if (left == 165) {
				left = 10;
			} else {
				left = 165;
			}
		});
	});
</script>
<!-- End jQuery -->
{% block head %}{% endblock %}
</head>
<body{% block optional_onload %}{% endblock %}>
<!-- optional_onload Helps facilitate javascript events -->
<div class='surroundings'>
<!-- Navigation Bar-->
<div class='nav'>
    <a href="/home"><img id="reddiary"
        src="{% static 'images/red-diary-small.jpg' %}"
        alt="Red Diary Cover"
        title="Home"/></a>
    </a>
    <ul>
        <li><a class="nav_text" href="/home/">Home</a></li>
        <li><a class="nav_text" href="/contents/">Contents</a>
            <ul>
                <li><a class="nav_text" href="/display/preface/">Foreword</a></li>
                <li><a class="nav_text" href="/display/bibliography/">Bibliography</a></li>
                <li><a class="nav_text" href="/display/index/">Index</a></li>
                <li><a class="nav_text" href="/display/synopsis/">Synopsis</a></li>
            </ul>
        </li>
        <li><a class="nav_text" href="/browse/">Browse Quotations</a></li>
        <li><a class="nav_text" href="/credits/">Credits</a></li>
        <li>
            <form action="/search/" method="get">
                <input type="text" value="Keyword Search" onfocus="this.value=''" onblur="this.value='Keyword Search'" name="keyword"/><br/>
                <input type="submit" value="Submit" />
            </form>
        </li>
    </ul>
    <div id="key">
        <h2>key:</h2>
        <p class="trans">translations</p>
        <p class="note">editors' notes</p>
        <p><span class="inline-note-editor">[inline notes]</span></p>
    </div>
    
    <div>
        <a href="http://www.tei-c.org/"><img src="http://www.tei-c.org/About/Badges/powered-by-TEI.png" alt="Powered by TEI" border="0"/></a>
    </div>
</div>
<div class='mobile_nav'>
<a class="nav_text" href="/home/">Home</a> | 
<a class="nav_text" href="/contents/">Contents</a> | 
<a class="nav_text" href="/display/preface/">Foreword</a> | 
<a class="nav_text" href="/display/bibliography/">Bibliography</a><br />
<a class="nav_text" href="/display/index/">Index</a> | 
<a class="nav_text" href="/display/synopsis/">Synopsis</a> | 
<a class="nav_text" href="/browse/">Browse Quotations</a> | 
<a class="nav_text" href="/credits/">Credits</a><br />
            <form action="/search/" method="get">
                <input type="text" value="Keyword Search"
        onfocus="this.value=''" onblur="this.value='Keyword Search'" name="keyword"/>
                <input type="submit" value="Submit" />
            </form>
</div>
<!-- End of navigation bar -->
<!-- Header -->
<div class='head'><h1>Thomas Merton's Red Diary</h1></div>
<!-- End of header -->
</div>
<div class='body'>{% block body %}{% endblock %}</div>
{% include 'google-trackmerton.html' %}
</body>
</html>