{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Bibliography{% endblock %}
{% block body %}
<body>

<div xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:exist="http://exist.sourceforge.net/NS/exist" class="bibliography">
    <p class="head">Bibliography of the sources which Merton consulted during the writing of Journal #10, "The Red Diary," which have been conclusively identified.</p>
    <ul class="bibl">
        <li>
            A Friend of God (14th Century). <i>
                The Book of the Poor in Spirit
            </i>. Edited by
C.F. Kelley. New York,
Harper &amp; Brothers,
1954.</li>
        <li>
            
                Bars, Henry
            . <i>
                Maritain en Notre Temps
            </i>. Paris, Editions Bernard
Grasset, 1959.</li>
        <li>
            
                Basetti-Sani, Giulio
            . <i>
                Mohammed et Saint Francois
            </i>. Ottawa, Commissariat
De TerreSainte, 1959.</li>
        <li>
            
                Frankl, Victor E.
            
            <i>
                From Death Camp to Existentialism
            </i>. Boston, Beacon
Press, 1959.</li>
        <li>
            
                Heschel, Abraham J.
            
            <i>
                Between God and Man
            </i>. Edited by Fritz
A. Rothschild. Toronto,
Collier Macmillan, 1959.</li>
        <li>
            Kadloubovsky, E. and Palmer, G.E.H., translators. <i>
                Early Fathers from the Philokalia
            </i>. London,
Faber &amp; Faber, Ltd.,
1953.</li>
        <li>
            
                Scholem, Gershom G.
            
            <i>
                Major Trends in Jewish Mysticism
            </i>. New York,
Schocken Books, Inc., 1946.</li>
        <li>
            
                Sofrony, Archimandrite
            . <i>
                The Undistorted Image
            </i>. Translated by Rosemary
Edmunds. London, The Faith
Press, 1958.</li>
    </ul>
</div>
</body>
{% endblock %}