{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Home{% endblock %}

{% block body %}

<div class="container-fluid">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Contents</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr><td>
                <a href="{% url 'display' page.id %}" title="{{ page.title }}">
                    {% if page.title|length > 30 %}
                    {{ page.title|slice:":30" }}...
                    {% else %}
                    {{ page.title }}
                    {% endif %}
                </a>
            </td></tr>
            {% endfor %}
        </tbody>
    </table>

<div class="downloads">
  <p><b><a href="{% url 'send_file' %}">Download Diary as Plain Text</a><b></p>
</div>
    
</div>
{% endblock %}