<!--Noitatnemucod:
This should be the equivalent of credits.php from the original site
-->
{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Credits{% endblock %}
{% block body %}
<h3>This project sponsored by:</h3>
<ul>
<li>Thomas Merton Center at Bellarmine College</li>
<li>Pitts Theology Library at Emory University</li>
<li>The Lewis H. Beck Center at Woodruff Library, Emory University</li>
</ul>
  
<h3>Transcription</h3>

<ul>
<li>Robert E. Daggy, Director of Research for the Thomas Merton Legacy Trust and the Director of the Thomas Merton Center at Bellarmine College</li>
<li>Jonathan Montaldo, Collingswood, New Jersey</li>
<li>Erasmo Leiva-Merikakis, San Francisco, California</li>
</ul>

<h3>Digital Edition</h3>

<ul>
<li>Chuck Spornick (original encoding)</li>
<li>Hamilton Carroll (1996 site design)</li>
<li>Alice Hickcox (project management)</li>
<li>Rebecca Sutton Koeser
(2006 encoding & site revisions)</li>
<li>Ben Bolte (2014 site revisions)</li>
</ul>
<a href="http://www.tei-c.org/"><img src="http://www.tei-c.org/About/Badges/powered-by-TEI.png" alt="Powered by TEI" border="0"/></a>
{% endblock %}