{% extends 'base.html' %}

{% block title %}Page{% endblock %}

{% block optional_onload %} onload='setHighlighting()'{% endblock %}
{% block head %}
<style>
.highlight {
    color: red;
}
</style>
{% endblock %}
{% block body %}
{% if prev %}
<button class="prev"
type="button"
onclick="location.href='/display/{{ prev }}/{% if keyword_url %}?keyword={{ keyword_url }}{% endif %}'">
Previous
</button>
{% endif %}
{% if next %}
<button class="next"
type="button"
onclick="location.href='/display/{{ next }}{% if keyword_url %}?keyword={{ keyword_url }}{% endif %}'">
Next
</button>
{% endif %}


{{ format|safe }}

<br/>

{% endblock %}