<!-- Lolz cant haz relevant documentationz:
This should be equivalent to fascimiles.php from the original site.
-->
{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% load staticfiles %}
{% block page %} - Facsimiles{% endblock %}
{% block body %}
<head>
<h1 align="center">Facsimiles</h1>
<style type="text/css">
	ul.contents { display: block } 
        img.javascript { display: none }
      </style>
</head>
<body>
<div class="container-fluid">
 <div  class="row">

{% for item in list %}
{% if "X" in item.id %}
<!-- If the element has child elements -->

 <!-- If the element DOESN'T have child elements -->
 	 <div  id="list{{ item.id }}"  class="col-sm-3" align="middle"><a href="http://beck.library.emory.edu/merton/image-content/{{item.id}}.jpg"  class="thumbnail" style="width:200px;height:250px"><img
 	 src="http://beck.library.emory.edu/merton/image-content/{{item.id}}.jpg"
 	 style="width:75%"
 	 alt="view image"
 	 align="center"><p class="caption" align="middle" style="height:100px">{{ item.id }}, {{ item.n }}
	</p></a></div>

{% endif %}
	{% endfor %}
</div>
</div>
 </ul>
</body>
{% endblock %}