<!-- Obligitory confusing attempt at documentation:
This is the index file that is loaded on startup. The general layout
for these webpages is to extend 'base.html', which acts as a
formatter. We'll go with this approach for a bit to see if it works.
-->
{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Home{% endblock %}
{% block head %}
<!-- Hard-coded metadata -->
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
<meta name="DC.title" content="Thomas Merton's Red Diary"/>
<meta name="DC.creator" content="Lewis H. Beck Center for Electronic Collections & Services"/>
<meta name="DC.publisher" content="Lewis H. Beck Center for Electronic Collections & Services"/>
<meta name="DC.contributor" content="Leiva-Merikakis, Erasmo, 1946"/>
<meta name="DC.contributor" content="Montaldo, Jonathan"/>
<meta name="DC.subject" content="Merton, Thomas, 1915-1968--Diaries."/>
<meta name="DC.subject" content="Trappists--United States--Diaries."/>
<meta name="DC.subject" content="Emory University"/>
<meta name="DC.description" content="A digitized edition of Merton's Red Diary, along with the translations and notes of editors Erasmo Leiva-Merikakis and Jonathan Montaldo.  The fully-searchable text is presented alongside facsimiles from Merton's handwritten diary."/>
<meta name="DC.type" scheme="DCTERMS.DCMIType" content="text"/>
<meta name="DC.format" scheme="DCTERMS.IMT" content="text/html"/>
<meta name="DC.identifier" content=">http://beck.library.emory.edu/merton/"/>
<meta name="DC.date" content="2006-06-06"/>
{% endblock %}
{% block body %}
<div class="container">
    <h3>
        <table>
            <tbody>
                <tr><td><a href="{% url 'contents' %}">Table of Contents</a></td></tr>
                <tr><td><a href="{% url 'display' 'preface' %}">Foreward</a></td></tr>
                <tr><td><a href="{% url 'display' 'bibliography' %}">Bibliography</a></td></tr>
                <tr><td><a href="{% url 'display' 'index' %}">Index</a></td></tr>
                <tr><td><a href="{% url 'display' 'synopsis' %}">Synopsis</a></td></tr>
                <tr><td><a href="{% url 'about' %}">About</a></td></tr>
            </tbody>
        </table>
    </h3>
</div>
{% endblock %}