<div class="intro">
<p>In 1964 and 1965 Thomas Merton used a red-leather "day-by-day" calendar for the year 1959 as a diary.   Unlike his other published diaries and journals, this diary was not used for personal entries; rather he used it as a collection for the words of others.   As noted by Erasmo Leiva-Merikakis and Jonathan Montaldo in the <a href="/contents/foreward">Foreword</a> to the print edition, "the Red Diary is a convergence of Merton's spontaneous attractions." This collection of the thoughts and
writings of others provide us with insight into Merton's "interior climate" &mdash; "these collected'words'
reflect his fears and his hopes, and more importantly they reflect his
prayer, at this new and long awaited juncture in his life"&mdash;
that of living full-time at his hermitage.</p>
</div>