{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Bibliography{% endblock %}
{% block body %}
<body>
 
<div xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:exist="http://exist.sourceforge.net/NS/exist" class="Preface">
    <p class="head">Foreword</p>
    <p>The following pages are a typed facsimile transcription of Thomas
 Merton's holographic journal designated #10, "The Red
 Diary,"in the Thomas Merton Studies Center Collection at
 Bellarmine College, Louisville, Kentucky. In addition to the
 facsimile, the transcribers have appended notes, English translations
 from the Greek, Latin and French, an <a href="/register" target="_top">index</a>,
 a <a href="/bibliography" target="_top">bibliography of confirmed sources</a> used by
 Merton, and a <a href="/synopsis" target="_top">page-by-page synopsis</a> of
 the complete journal. </p>
    <p>The original journal is a red-leather, day-by-day calendar
journal for 1959 and thus has received its title, The Red Diary.  Of
the possible 365 pages for entries, Merton used only 63: his first
entry appears on <a href="/display/X04" target="_top">page 4</a>, designated for January 3, 1959; the final
entry is on <a href="/display/X66" target="_top">page 66</a>, designated for March 4, 1959. The remaining pages
of the calendar diary are blank.</p>
    <p>The Red Diary was obviously dated 1959 in the Thomas Merton Studies
Center Collection, but there is ample evidence to prove that not all,
and perhaps not any, of the entries were made by Merton in 1959. <a href="/display/X43" target="_top">Page X
(43)</a> bears the date November, 1964.  <a href="/display/X50" target="_top">Page X (50)</a> bears the date January
31, 1965, Merton's fiftieth birthday. An interrelated portion of the
journal [<a href="/display/sec03" target="_top">pp. X(45-66)</a>],entitled by Merton an "Office for Hermits",
was begun after November, 1964 and either completed or abandoned in
early 1965. It is difficult, though admittedly not impossible, to
assume that, during a six year period, Merton would have filled only
63 pages in the diary. And since all the journal's entries are
similar, what can be described as an anthology or <i>florilegium</i>
of favorite passages from Merton's <i>lectio divina</i>,
the entries in the journal are assumed to be more accurately
dated 1964-65 than 1959. Given this assumption, Merton saves or
finds unused a red-leather diary for 1959 which becomes another journal
in the mid-sixties.</p>
    <p> Although no personal journal entries by Merton appear in this
diary it is a collection of the words of others The Red Diary reveals
Merton intimately. The Red Diary is a convergence of Merton's
spontaneous attractions. The quotations exhibit Merton's instinct for
the essential and the luminous in his reading. And by what he selects
to save Merton reveals his own interior climate. The journal section
entitled an <a href="/display/sec03" target="_top">Office for Hermits</a> is especially significant. Here Merton
looks forward to his living at his hermitage full time and thus arms
himself with a word from his monastic fathers, both Latin and Greek, and
from the Scriptures, especially the prophetic and wisdom books. These
collected "words" reflect his fears and his hopes, and more
importantly they reflect his prayer, at this new and long awaited
juncture in his life.</p>
    <p>This transcription is a collaboration of friends. Dr. Erasmo
Leiva-Merikakis Professor of Comparative Literature and on the faculty
of the St. Ignatius Institute of the University of San Francisco,
transcribed and translated the Greek, French, and Latin sections of
the journal.  Jonathan Montaldo transcribed the remaining sections and
is responsible for the addenda to the text.</p>
    <p>The transcription of Thomas Merton's "Red Diary" was
completed under the direction of Dr. Robert E. Daggy, Director of
Research for the Thomas Merton Legacy Trust and the Director of the
Thomas Merton Center at Bellarmine College. This transcription and its
addenda are the property of Bellarmine College. All rights to the use
of this transcription are reserved by the provisions of the Thomas
Merton Legacy Trust and by Bellarmine College.</p>
    <p class="byline">
        Erasmo Leiva-Merikakis,
    San Francisco, California
        <br>
        Jonathan Montaldo, 
	Collingswood, New Jersey
	<br>
	January 31, 1989 
    </p>
    
</div>
</body>
{% endblock %}