{% extends 'base.html' %}<!-- Everything should extend 'base.html' -->
{% block page %} - Bibliography{% endblock %}
{% block body %}
<body>

<div xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:exist="http://exist.sourceforge.net/NS/exist" class="index">
    <p class="head">Index to Thomas Merton's Journal # 10, "The Red Diary"</p>
    <ul>
        <li>
            <i>
                A Vow of Conversation
            </i>, <a href="/display/X38" target="_top">n. 38</a>, <a href="/display/X47" target="_top">n. 47</a>, <a href="/display/X50" target="_top">n. 50</a>
        </li>
        <li>Akasakov, I., <a href="/display/X06" target="_top">6</a>
        </li>
        <li>Anselm, Saint, <a href="/display/X44" target="_top">44</a>, <a href="/display/X61" target="_top">61</a>
        </li>
        <li>Bars, H., <a href="/display/X23" target="_top">23</a>
        </li>
        <li>Barth, Karl, <a href="/display/X36" target="_top">36</a>
        </li>
        <li>Basetti-Sani, G., <a href="/display/X29" target="_top">29</a>
        </li>
        <li>
            <i>
                Between God and Man
            </i>, <a href="/display/X37" target="_top">37</a>
        </li>
        <li>Boulgakov, S., <a href="/display/X12" target="_top">12</a>
        </li>
        <li>Buber, Martin, <a href="/display/X39" target="_top">39</a>
        </li>
        <li>Bukharev, A.M., <a href="/display/X09" target="_top">9</a>, <a href="/display/X10" target="_top">10</a>, <a href="/display/X11" target="_top">11</a>
        </li>
        <li>Canisius, S.J., Peter, <a href="/display/X17" target="_top">17</a>
        </li>
        <li>Cell, the monastic, <a href="/display/X46" target="_top">46</a>, <a href="/display/X50" target="_top">50</a>, <a href="/display/X52" target="_top">52</a>, <a href="/display/X57" target="_top">57</a>
        </li>
        <li>Chuang Tzu, <a href="/display/X24" target="_top">24</a>-<a href="/display/X28" target="_top">28</a>, <a href="/display/X31" target="_top">31</a>
        </li>
        <li>Clement, O., <a href="/display/X32" target="_top">32</a>
        </li>
        <li>Collectivism, <a href="/display/X39" target="_top">39</a>-<a href="/display/X41" target="_top">41</a>
        </li>
        <li>
            <i>
                Conjectures of A Guilty Bystander
            </i>, <a href="/display/X07" target="_top">n. 7</a>, <a href="/display/X28" target="_top">n. 28</a>,
<a href="/display/X33" target="_top">n. 33</a>, <a href="/display/X41" target="_top">n. 41</a>
        </li>
        <li>Del Vasto, Lanza, <a href="/display/X18" target="_top">18</a>
        </li>
        <li>Dostoievsky, Fyodor, <a href="/display/X05" target="_top">5</a>
        </li>
        <li>
            <i>
                Early Fathers from the Philokalia
            </i>, <a href="/display/X43" target="_top">43</a>, <a href="/display/X46" target="_top">46</a>-<a href="/display/X49" target="_top">49</a>, <a href="/display/X51" target="_top">51</a>
        </li>
        <li>
            <i>Ecclesiasticus</i>, <a href="/display/X51" target="_top">51</a>, <a href="/display/X54" target="_top">54</a>, <a href="/display/X57" target="_top">57</a>
        </li>
        <li>Ephraim, Saint, <a href="/display/X05" target="_top">5</a>
        </li>
        <li>Essence of Christianity, <a href="/display/X05" target="_top">5</a>
        </li>
        <li>
            <i>Ezechial</i>, <a href="/display/X43" target="_top">43</a>, <a href="/display/X64" target="_top">64</a>-<a href="/display/X65" target="_top">65</a>
        </li>
        <li>Favre, S.J., Peter, <a href="/display/X16" target="_top">16</a>
        </li>
        <li>Festugiere, M., <a href="/display/X42" target="_top">42</a>
        </li>
        <li>Filaret, Metropolitan, <a href="/display/X08" target="_top">8</a>
        </li>
        <li>Foolishness, spirituality of, <a href="/display/X09" target="_top">9</a>
        </li>
        <li>Frankl, Victor, <a href="/display/X19" target="_top">19</a>-<a href="/display/X20" target="_top">20</a>
        </li>
        <li>
            <i>From Death Camp to Existentialism</i>, <a href="/display/X19" target="_top">19</a>-<a href="/display/X20" target="_top">20</a>
        </li>
        <li>Fulbert of Chartres, <a href="/display/X58" target="_top">58</a>
        </li>
        <li>Gilbert of Hoyland, <a href="/display/X44" target="_top">44</a>
        </li>
        <li>Govodetzky, <a href="/display/X11" target="_top">11</a>
        </li>
        <li>Haleq, <a href="/display/X29" target="_top">29</a>
        </li>
        <li>Heraclitus, <a href="/display/X13" target="_top">13</a>-<a href="/display/X15" target="_top">15</a>
        </li>
        <li>Heschel, Abraham, <a href="/display/X37" target="_top">37</a>
        </li>
        <li>Holiness, <a href="/display/X32" target="_top">32</a>
        </li>
        <li>Humility, <a href="/display/X08" target="_top">8</a>-<a href="/display/X09" target="_top">9</a>, <a href="/display/X33" target="_top">33</a>-<a href="/display/X34" target="_top">34</a>, <a href="/display/X36" target="_top">36</a>, <a href="/display/X50" target="_top">50</a>, <a href="/display/X57" target="_top">57</a>
        </li>
        <li>Individualism, <a href="/display/X39" target="_top">39</a>-<a href="/display/X40" target="_top">40</a>
        </li>
        <li>Irenaeus, <a href="/display/X63" target="_top">63</a>
        </li>
        <li>Isaac of Nineveh, <a href="/display/X64" target="_top">46</a>-<a href="/display/X49" target="_top">49</a>, <a href="/display/X51" target="_top">51</a>
        </li>
        <li>
            <i>Isaias</i>, <a href="/display/X45" target="_top">45</a>, <a href="/display/X50" target="_top">50</a>, <a href="/display/X62" target="_top">62</a>
        </li>
        <li>
            <i>Jeremias</i>, <a href="/display/X60" target="_top">60</a>
        </li>
        <li>Kadloubovsky, E., <a href="/display/X46" target="_top">46</a>
        </li>
        <li>Khomiakov, <a href="/display/X06" target="_top">6</a>
        </li>
        <li>Mabillon, <a href="/display/X42" target="_top">42</a>
        </li>
        <li>Macarious of Optino, Staretz, <a href="/display/X32" target="_top">32</a>-<a href="/display/X34" target="_top">34</a>
        </li>
        <li>
            <i>Major Trends in Jewish Mysticism</i>, <a href="/display/X22" target="_top">22</a>
        </li>
        <li>
            <i>Maritain en Notre Temps</i>, <a href="/display/X23" target="_top">23</a>
        </li>
        <li>Maritain, Jacques, <a href="/display/X23" target="_top">23</a>
        </li>
        <li>Mark the Ascetic, <a href="/display/X43" target="_top">43</a>
        </li>
        <li>Mary, Mother of God, 56, <a href="/display/X58" target="_top">58</a>-<a href="/display/X59" target="_top">59</a>
        </li>
        <li>Mccharius, A of Mazt, <a href="/display/X55" target="_top">55</a>
        </li>
        <li>
            <i>Mohammed et Saint Francois</i>, <a href="/display/X29" target="_top">29</a>
        </li>
        <li>Mott, Michael, n. <a href="/display/X43" target="_top">43</a>
        </li>
        <li>Newman, John Henry Cardinal, <a href="/display/X07" target="_top">7</a>
        </li>
        <li>Niebuhr, Reinhold, <a href="/display/X39" target="_top">39</a>-<a href="/display/X40" target="_top">40</a>
        </li>
        <li>Odo, Saint, <a href="/display/X56" target="_top">56</a>
        </li>
        <li>"Office of Hermits," <a href="/display/X45" target="_top">45</a>-<a href="/display/X66" target="_top">66</a>, dating of, <a href="/display/X50" target="_top">n. 50</a>
        </li>
        <li>
            <i>Osee</i>, <a href="/display/X66" target="_top">66</a>
        </li>
        <li>Our Father, the prayer, in Greek, <a href="/display/X04" target="_top">4</a>
        </li>
        <li>Palmer, G.E.H., <a href="/display/X46" target="_top">46</a>
        </li>
        <li>
            <i>
                Philokalia
            </i>, <a href="/display/X16" target="_top">16</a>, <a href="/display/X43" target="_top">43</a>, <a href="/display/X46" target="_top">46</a>-<a href="/display/X49" target="_top">49</a>, <a href="/display/X51" target="_top">51</a>
        </li>
        <li>Prajnaparamita Sutra, <a href="/display/X29" target="_top">29</a>
        </li>
        <li>Prayer, <a href="/display/X33" target="_top">33</a>, <a href="/display/X35" target="_top">35</a>
        </li>
        <li>Prayers, Our Father, <a href="/display/X04" target="_top">4</a>, of St. Ephrain, <a href="/display/X05" target="_top">5</a>, of St. Odo, <a href="/display/X56" target="_top">56</a>, of
Fulbert of Chartres, <a href="/display/X58" target="_top">58</a>, from Psalter of Robert of Molesme, <a href="/display/X59" target="_top">59</a>
        </li>
        <li>Racism, as collective sin, <a href="/display/X41" target="_top">41</a>
        </li>
        <li>Robert of Molesme, <a href="/display/X59" target="_top">59</a>
        </li>
        <li>Sabbath, <a href="/display/X44" target="_top">44</a>, <a href="/display/X64" target="_top">64</a>
        </li>
        <li>Scholem, Gershom, <a href="/display/X22" target="_top">22</a>
        </li>
        <li>Secret of the heart, <a href="/display/X49" target="_top">49</a>
        </li>
        <li>Silence, <a href="/display/X30" target="_top">30</a>
        </li>
        <li>Silouan, Staretz, <a href="/display/X33" target="_top">33</a>
        </li>
        <li>Simplicity, <a href="/display/X48" target="_top">48</a>, <a href="/display/X50" target="_top">n. 50</a>
        </li>
        <li>Sophrony [Sofrony], Archimandrite, <a href="/display/X33" target="_top">33</a>-<a href="/display/X35" target="_top">35</a>
        </li>
        <li>Stability in solitude, <a href="/display/X57" target="_top">57</a>
        </li>
        <li>Suffering as a task, <a href="/display/X19" target="_top">19</a>-<a href="/display/X20" target="_top">20</a>, <a href="/display/X48" target="_top">48</a>
        </li>
        <li>Sylvan, Staretz, <a href="/display/X33" target="_top">33</a>
        </li>
        <li>
            <i>
                The Book of the Poor in Spirit
            </i>, <a href="/display/X30" target="_top">30</a>
        </li>
        <li>
            <i>
                The Seven Mountains of Thomas Merton
            </i>, <a href="/display/X43" target="_top">n. 43</a>
        </li>
        <li>
            <i>
                The Sign of Jonas
            </i>, <a href="/display/X62" target="_top">n. 62</a>
        </li>
        <li>
            <i>
                The Undistorted Image
            </i>, <a href="/display/X33" target="_top">33</a>
        </li>
        <li>Wisdom, <a href="/display/X26" target="_top">26</a>, <a href="/display/X29" target="_top">29</a>, <a href="/display/X34" target="_top">34</a>, <a href="/display/X37" target="_top">37</a>, <a href="/display/X50" target="_top">50</a>, <a href="/display/X54" target="_top">54</a>
        </li>
    </ul>
</div>
</body>
{% endblock %}