img {
    /* All images */
    border: 0px;
}
p.head {
    /* Page header, e.g. "Foreward" */
    font-weight: bold;
    font-size: 130%;
}
p.byline, p.dateline {
    /* Authorship information, generally */
    font-style: italic;
}
p.milestone {
    /* Not sure */
    text-align: center;
}

span.bibl {
    color: red;
}
td.link {
    /* For boxes in tables */
    text-align: center;
}

div.note, p.note {
    color:#6f3410;
}
hr.note {
    width:25%;
    color:#6f3410;
    background-color:#6f3410;
    height:1px;
    border:0px;
    margin-left:0px;
}
p.trans {
    color:#175F1A;
    font-style:italic;
    margin-left:0.25in;
}
span.inline-note-editor {
    color:#555555;
}
span.inline-note {
    color:#555555;
}

div#key {
    border:double black;
    width:80%;
    margin-top:0.5in;
}
div#key h2 {
    font-variant:small-caps;
    margin:0;
    margin-left: 2px;
}
div#key p {
    margin:0;
    margin-left:8px;
}

span.superscript {
    vertical-align:super;
    font-size:75%;
}
span.underline {
    text-decoration:underline;
}
span.hi {
    font-weight:bold;
}
span.term {
    padding-left:10px;
}

div.figure {
    float:left;
    padding:5px;
    text-align:center;
}

div.intro {
    font-size:115%;
    margin-top:1in;
    margin-left:2in;
    max-width:600px;
}
div.credits {
    margin-left:1.75in;
}
div.credits h1 {
    font-size:135%;
}
div.credits h2 {
    font-size:105%;
}
p.credits {
    text-indent:-0.25in;
    margin: 0px 0px 0px 0.5in;
}

#contentsul {
    padding-left:210px;
}